header {
    position: relative;
    border-bottom: 1px solid #ddd;

    a {
        color: #aaa;
    }

    .container {
        height: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;

        img {
            width: 24px;
            height: 24px;
            display: block;
        }
    }

    .span-holder {
        flex: 1;
    }

    nav {
      display:none;
      background-color: white;
      position: absolute;
      top: 45px;
      right:0;
      padding: 5px 15px 15px 15px;

        a {
            display: block;
        }
    }

    nav.visible {
      display: block;
    }

    #togglenav {
      display: block;
    }

    @media (min-width: 425px) {

      #togglenav {
        display: none;
      }

      nav {
        display: inline-block;
        position: inherit;
        padding: 0px;
        background-color: transparent;

        a {
          display: inline;
          margin-left: 2rem;
        }
      }
    }

}
